.bannerSolutions{
    padding: 0 130px;
    height: 100vh;
    display: flex;
    align-items: center;
    position: relative;
    // overflow: hidden;
    @media screen and (max-width:600px){
        padding: 0 32px;
    }
}
.bannerSolutions__background{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    mask-image: linear-gradient(
        black 80%,
        transparent
    );
}
.bannerSolutions__container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 5;
    color: $content-dark-primary;
    & > :nth-child(1){
    }
    & > :nth-child(2){
        width: 25rem;
        @media screen and (max-width:600px){
            width: 100%;
        }
    }
}