.exploSolutions{
    padding: 0 130px;
    min-height: 100vh;
    display: flex;
    align-items: center;    
    @media screen and (max-width: 768px){
        padding: 60px 32px;
        min-height: 100vh;
    }
}
.exploSolutions__container{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 70px;
}
.exploSolutions__description{
    & > :nth-child(2){
        width: 50%;
        @media screen and (max-width: 768px){
            margin-top: 10px;
            width: 100%;
        }
    }
}
.exploSolutions__cards{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    z-index: 1;
    @media screen and (max-width: 768px){
        flex-direction: column;
    }
}
//* Styles for card
.exploSolutions__card{
    padding: 10px 10px;
    width: 300px;
    min-height: 350px;
    align-content: center;
    gap: 10px;
    text-align: center;
    position: relative;
    overflow: hidden;
    transition: ease .3s;
    cursor: pointer;
    z-index: 10;
    &::before{
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        background: rgba(0,0,0,.3);
        z-index: -1;
    }
    &::after{
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;
        transition: ease .3s;
    }
    &:hover::after{
        backdrop-filter: blur(4px);
    }
}
.exploSolutions__card:hover{
}
.exploSolutions__card:hover .exploSolutions__content--text{
    height: 89px;
}
.exploSolutions__card:hover .exploSolutions__card--img{
    transform: scale(1.2);
}
//*  Background image of card.
.exploSolutions__card--img{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform ease .4s;
    z-index: -2;
}
//* Container content of card 
.exploSolutions__content{
    color: $content-dark-primary;
    z-index: 5;
    & > :nth-child(1){
        font-size: 25px;
        font-weight: 500;
    }
}
//* Content of card (text)
.exploSolutions__content--text{
    height: 0;
    overflow: hidden;
    // width: 100%;
    // position: absolute;
    // top: 0;
    // left: 0;
    // display: flex;
    // align-items: center;
    transition: height ease .4s;
    // opacity: 0;
}
//* Content of card (+)
.exploSolutions__more{
    font-size: 25px;
    font-weight: 500;
}