.heightProyect{
    padding: 100px 150px;
    @media screen and (max-width:460px) {
        padding: 100px 32px;
    }
}
.heightProyect__contain{

}
.heightProyect__subtitle{
    font-size: 50px;
}
.heightProyect__heights{
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    gap: 80px;
}
.heightProyect__height{
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media screen and (max-width:460px) {
        flex-direction: column;
        gap: 20px;
    }
}
.heightProyect__card{//* card 
    min-width: 200px;
    max-width: 568px;
    height: 232px;
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 10px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.07);
    background: rgba(255, 255, 255, 0.07);
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.05), 0px 2px 2px 0px rgba(0, 0, 0, 0.03), 0px 1px 0px 0px rgba(0, 0, 0, 0.03);
    overflow: hidden;
    @media screen and (max-width:460px) {
        grid-template-columns: 1fr;
        grid-template-rows: 50% 50%;
        height: 454px;
    }
}
.heightProyect__img--container{//* image card
}
.heightProyect__card--img{
    width: 100%;
    height: 100%;   
}
.heightProyect__card--content{//* Contentenido de la carta
    padding: 20px 10px;
    overflow-y: scroll; /* Genera un scroll vertical si es necesario */
    scrollbar-width: thin; /* Ancho del scrollbar (puede ser "thin", "auto" o "none") */
    scrollbar-color: rgba(155, 155, 155, 0.1) rgba(0, 0, 0, 0.05); 
    & > :nth-child(1){
        font-weight: 400;
    }
    & > :nth-child(2){
    }
    & > :nth-child(3){
        margin-top: 10px;
        color: $content-light-secondary;
    }    
}
.heightProyect__msnm{//* altura msnm    
    padding-right: 5rem;
    display: flex;
    align-items: center;
    justify-content: end;
    width: 100%;
    height: 100%;
    @media screen and (max-width:460px) {
        padding-right: 0;
        justify-content: start;
    }
}
.heightProyect__msnm--p{
    display: flex;
    flex-direction: column;
    & > :nth-child(1){
        padding: 4px 12px;
        border: 2.5px solid $yellow-primary;
        font-size: 25px;
        font-weight: 600;
    }
    & > :nth-child(2){
        text-align: center;
        color: $content-light-secondary;
    }
    
}