.ambientProyect{
    height: 80vh;
    color: white;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    @media screen and (max-width:460px){
        height: 60vh;
    }
}
.ambientProyect__background{
    width: 100%;
    position: absolute;
    top: 0;
    z-index: -1;
    @media screen and (max-width:460px){
        height: 100%;
    }
}
.ambientProyect__contains{
    padding: 20px 20px;    
    max-width: 408px;
    min-width: 240px;
    background:rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(10px);
    text-align: center;
    z-index: 5;
    & > h5{
        font-size: 25px;
        font-weight: 400;
    }
    & > p{
        margin-top: 10px;        
        font-weight: 200;
    }    
}
