.heightProyect{
    padding: 100px 150px;
    @media screen and (max-width:460px) {
        padding: 100px 32px;
    }
}
.heightProyect__contain{

}
.heightProyect__subtitle{
    font-size: 50px;
}
.heightProyect__heights{
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    gap: 80px;
}
.heightProyect__card{//* card 
    min-width: 200px;
    max-width: 568px;
    height: 232px;
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 10px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.07);
    background: rgba(255, 255, 255, 0.07);
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.05), 0px 2px 2px 0px rgba(0, 0, 0, 0.03), 0px 1px 0px 0px rgba(0, 0, 0, 0.03);
    overflow: hidden;
    @media screen and (max-width:460px) {
        grid-template-columns: 1fr;
        grid-template-rows: 50% 50%;
        height: 454px;
    }
}