.commentsHome{
    padding: 70px 104px;
    display: flex;
    align-items: center;
    overflow: hidden;
    cursor: none;
    @media screen and (max-width: 1024px){
        padding: 0 32px;
    }
}
.commentsHome__container{
    padding-top: 5px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 90px;
}
//* Slider
.commentsHome__slider{
    width: 58vw;
}
.commentsHome__slider--container{
    display: flex;
    transition: ease .4s;
    gap: var(--gap-slider);
    position:inherit;
}
.commentsHome__sliders{
    padding: 22px 30px;
    min-width: 58vw;
    height: 510px;
    display: grid;
    grid-template-columns: repeat(2,50%);
    align-items: end;
    transition: scale .5s ease, color .3s ease;
    position: relative;
    @media screen and (max-width: 768px){
        display: flex;
        flex-direction: column;
    }
}
.commentsHome__image{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.commentsHome__description{
    grid-area: 1/2/2/3;
}
.commentsHome__text{
    padding: 0 0 14px;
    color: $content-dark-primary;
    font-size: 22px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.4px;      
}
.commentsHome__slider--user{
    display: flex;
    flex-direction: column;
    gap: 2px;
    & > :nth-child(1){
        color: $yellow-primary;
        font-size: 20px;
        font-weight: 500;
    }
    & > :nth-child(2){
        color: $content-dark-primary;
        font-size: 20px;
        font-weight: 400;
    }
    & > :nth-child(3){
        color: $content-dark-primary;
        font-size: 20px;
        font-weight: 400;
    }
}

