.projects{
    padding: 70px  104px;
    display: flex;
    flex-direction: column;
    gap: 46px;
    @media screen and (max-width: 768px){
        padding: 0 32px;
    }
}
.projects__grid{
    display: grid;
    gap: 14px;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(2,316px);
    @media screen and (max-width: 768px){
        display: flex;
        flex-direction: column;
    }
}
.projects__title{
    text-align: center;
}

//* Cards
.projects__card{
    padding: 18px 26px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    color: $content-dark-primary;
    overflow: hidden;
    cursor: pointer;
    @media screen and (max-width: 768px){
        
    }
    &::before{
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        transition: ease .46s;
    }
    &:hover .projects__paragraph{
        transform: translateY(0%);
    }  
}
.projects__card--opacity{}
.projects__card.projects__card--background::before{
    background: rgba(0,0,0,0.28);
}
.projects__card:nth-child(1){
    grid-area: 1/1/2/5;
}
.projects__card:nth-child(2){
    grid-area: 1/5/2/8;
}
.projects__card:nth-child(3){
    grid-area: 1/8/2/13;
}
.projects__card:nth-child(4){
    grid-area: 2/1/3/6;
}
.projects__card:nth-child(5){
    grid-area: 2/6/3/10;
}
.projects__card:nth-child(6){
    grid-area: 2/10/3/13;
}

.projects__image{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}

//* Description 
.projects__paragraph{
    transition: ease .46s;
    z-index: 1;
}
.projects__card--title{
    // transform: translateY(-150%);
    font-size: 20px;
    font-weight: 500;
}
.projects__card--content{
    display: flex;
    gap: 16px;
    color: rgba(255,255,255,.8);
    transform: translateY(150%);
    & > :nth-child(1){
    }   
    & > :nth-child(2){
    }
    & p{
        padding: 4px 10px;
        border: .5px solid rgba(255,255,255,.8);
    }
}




