.solutionsHome{
    padding: 70px 106px;
    width: 100%;
    display: flex;
    align-items: center;
    @media screen and (max-width: 768px){
        padding: 20px 32px;
    }
}
.solutionsHome__container{
    width: 100%;
    display: grid;
    gap: 56px;
    @media screen and (max-width: 768px){
        justify-content: center;        
        gap: 60px;
    }
}
//* Title
.solutionsHome__title{
    font-size: 45px;
}
.solutionsHome__title--animation{
    transform: translateX(0%);
    opacity: 1;
}
//* Card
.solutionsHome__cards{
    display: flex;
    justify-content: center;
    gap: 40px;
    z-index: 2;
    @media screen and (max-width: 768px){
        flex-direction: column;
        gap: 30px;
    }
}
.solutionsHome__card{
    padding: 24px 16px;
    width: 296px;
    height: 366px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    gap: 10px;
    position: relative;
    cursor: pointer;
    @media screen and (max-width: 768px){
        max-width: 260px;
        max-height: 310px;
    }
    &:hover{
        background: $yellow-secondary;
    }
    &:hover .solutionsHome__more{
        transform: rotate(90deg);
    }
    &:hover .solutionsHome__image{
        scale: 1.06;
    }
}
.solutionsHome__image{
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    transition: scale ease 1s;
}
.solutionsHome__content{
    display: grid;
    gap: 10px;
    text-align: center;
    color: white;
    position: relative;
    & > :nth-child(1){
        font-size: 24px;
        font-weight: 400;
    }
    & > :nth-child(2){
        line-height: 26px;
    }
    & > :nth-child(3){
        text-align: center;
    }
    & > img{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: ease .4s;
    }
}

.solutionsHome__button{
    position: relative;
    transition: ease .3s;
}
