.solutionsHome{
    padding: 0 130px;
    width: 100%;
    min-height: 90vh;
    display: flex;
    align-items: center;
    background: $yellow-primary;
    @media screen and (max-width: 768px){
        padding: 20px 32px;
    }
}
.solutionsHome__container{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 70px;
    @media screen and (max-width: 768px){
        align-items: center;
        gap: 60px;
    }
}
//* content title
.solutionsHome__title{
    display: flex;
    flex-direction: column;
    gap: 40px;
    transition: ease .6s;
    transform: translateX(-20%);
    opacity: 0;
    & > h2{
        font-size: 50px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}
.solutionsHome__title--animation{
    transform: translateX(0%);
    opacity: 1;
}
//* Cards conteiner
.solutionsHome__cards{
    display: flex;
    justify-content: center;
    gap: 60px;
    z-index: 2;
    @media screen and (max-width: 768px){
        flex-direction: column;
        gap: 30px;
    }
}
.solutionsHome__card{
    padding: 10px 10px;
    max-width: 250px;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    transition: ease .6s;
    opacity: 0;
    transform: translateY(25%);
    cursor: pointer;
    @media screen and (max-width: 768px){
        max-width: 260px;
        max-height: 310px;
    }
    &:hover{
        background: $yellow-secondary;
    }
    &:hover .solutionsHome__more{
        transform: rotate(90deg);
    }
}
.solutionsHome__animation{
    opacity: 1;
    transform: translateY(0%);
}
.soutionsHome__content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    & > :nth-child(1){
        font-size: 25px;
    }
    & > :nth-child(2){
        font-size: 25px;
        font-weight: 400;
        line-height: normal;
    }
    & > :nth-child(3){
        width: 50px;
    }
}
.solutionsHome__textOpacity{
    text-align: center;
}
.solutionsHome__more{
    font-size: 30px;
    transition: ease .3s;
}