.solutionsHome{
    padding: 0 130px;
    width: 100%;
    min-height: 90vh;
    display: flex;
    align-items: center;
    background: $yellow-primary;
    @media screen and (max-width: 768px){
        padding: 20px 32px;
    }
}
.solutionsHome__container{
    width: 100%;
    display: grid;
    gap: 70px;
    @media screen and (max-width: 768px){
        justify-content: center;        
        gap: 60px;
    }
}
//* Title
.solutionsHome__title{
    font-size: 45px;
}
.solutionsHome__title--animation{
    transform: translateX(0%);
    opacity: 1;
}
//* Card
.solutionsHome__cards{
    display: flex;
    justify-content: center;
    gap: 60px;
    z-index: 2;
    @media screen and (max-width: 768px){
        flex-direction: column;
        gap: 30px;
    }
}
.solutionsHome__card{
    padding: 10px 10px;
    max-width: 260px;
    max-height: 311.8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
    @media screen and (max-width: 768px){
        max-width: 260px;
        max-height: 310px;
    }
    &:hover{
        background: $yellow-secondary;
    }
    &:hover .solutionsHome__more{
        transform: rotate(90deg);
    }
    &:hover .solutionsHome__button{
        height: 27px;
        opacity: 1;
    }
}
.soutionsHome__content{
    display: grid;
    gap: 10px;
    text-align: center;
    & > :nth-child(1){
        font-size: 25px;
    }
    & > :nth-child(2){
        font-size: 25px;
        font-weight: 400;
        line-height: normal;
    }
    & > :nth-child(3){
        text-align: center;
    }
    & > :nth-child(4){
        font-size: 18px;
        font-weight: 400;
    }
    & > :nth-child(5){
        scale:1.5;
        transition: ease .3s;
    }
}

.solutionsHome__button{
    height: 0;
    opacity: 0;
    position: relative;
    transition: ease .3s;
    &::before{
        content: '';
        position: absolute;
        width: 0%;
    }
}
