.nav{
    padding: 0 104px;
    width: 100%;
    height: 80px;
    position: fixed;
    align-content: center;
    z-index: 99;
    transition: ease .4s;
    @media screen and (max-width: 768px){
        padding: 0 18px;
    }
}
.nav::before{
    content: '';
    width: 100%;
    height: 0%;
    position: absolute;
    left: 0;
    top: 0;
    transition: ease .3s;
    background-color: black;
    z-index: -1;
}
.nav.navBackground::before{
    height: 100%;
}
.nav__logo{
    margin-left: -1rem;
    width: 18rem;
    @media screen and (max-width: 768px){
        width: 15rem;
    }
}
.nav__buttonContain{
    display: none;
    transition: ease .3s;
    @media screen and (max-width: 768px){
        display: grid;
        place-items: center;
        position: absolute;
        top: 50%;
        right: 0.6rem;
        transform: translateY(-40%);
        z-index: 2;
    }
}
.nav__container{
    // width: 100%;
    display: flex;
    justify-content: space-between;
    @media screen and (max-width: 768px){
        justify-content: start;
    }
}
.nav__links{
    display: flex;
    align-items: center;
    gap: 60px;
    transition: ease-out .3s;
    transition-delay: .1s;
    @media screen and (max-width: 768px){
        padding: 100px 0 0 30px;
        width: 60%;
        height: 100dvh;
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 20px;
        position: absolute;
        top: 0;
        right: 0;
        background: black;
        z-index: -2;
        transform: translate(100%);
    }
}   
.transform__barraNav{
    transform: translate(0%);
}
.nav__link{
    color: $content-dark-primary;
    font-weight: 200;
    font-size: 18px;
    &{
        transition: ease .3s;
        position: relative;
    }   
    &::before{
        content: '';
        width: 0%;
        height: .5px;
        position: absolute;
        right: 0;
        bottom: -2px;
        transition: ease .4s;
        background-color: white;
    }
    &:hover::before {
        width: 100%;
        left: 0;
    }
}
