.isoAbout{
    padding: 0 130px;
    min-height: 100dvh;
    display: flex;
    align-items: center;
    @media screen and (max-width: 768px){
        padding: 60px 32px;
    }
}
.isoAbout__container{
    display: flex;
    flex-direction: column;
    gap: 60px;
}
.isoAbout__content{
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
    @media screen and (max-width: 768px){
        width: 100%;
    }
    & > :nth-child(1){
        font-weight: 500;
        letter-spacing: -1.2px;
    }
    & > :nth-child(2){
        width: 40%;
    }
}
.isoAbout__cards{
    display: flex;
    justify-content: center;
    gap: 100px;
    @media screen and (max-width: 768px){
        flex-direction: column;
        gap: 30px;
    }
}
.isoAbout__card{
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    transition: ease .3s;
    &:hover{
        background: rgba(255,255,255,.5);
    }
    & > :nth-child(1){
        width: 150px;
    }
    & > :nth-child(2){
        font-size: 20px;
        font-weight: 400;
        line-height: normal;
        letter-spacing: -0.75px;
    }
    & > :nth-child(3){
    }
}