.teamAbout{
    padding: 80px 130px;
    min-height : 100vh;
    @media screen and (max-width: 768px){
        padding: 80px 32px;
    }
}
.teamAbout__container{
    display: flex;
    flex-direction: column;
    gap: 70px;
}
.teamAbout__title{
    letter-spacing: -0.32px;
}
.teamAbout__subtitle{
    font-size: 25px;
    font-weight: 500;
    letter-spacing: 0.01rem;
    position: relative;
    &::before{
        content: '';
        position: absolute;
        width: 100%;
        height: .5px;
        top: -5px;
        background: rgba(0,0,0,.3);
    }
}
.teamAbout__gerencia{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.teamoAbout__cards{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 60px;
    @media screen and (max-width: 768px){
        align-items:center;
        justify-content: center;
    }
}
.teamoAbout__card{
    padding: 10px 20px;
    position: relative;
    width: 275px;
    height: 330px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    overflow: hidden;
    cursor: pointer;
    &:hover .teamAbout__card--img{
        filter: saturate(100%);
    }
    &:hover svg{
    }
}
.teamAbout__card--img{  
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transition: ease .3s;
    filter: saturate(0%);
    z-index: -2;
}
.teamAbout__card--user{
    & > :nth-child(1){
        // font-size: 18px;
        font-weight: 500;
        line-height: normal;
    }
    & > :nth-child(2){
        margin-top: -6px;
    }
}
.teamoAbout__card--media{
    margin-top: 10px;
    display: flex;
    gap: 10px;  
    & svg{
        width: 23.5px;
        height: 23.5px;
        transition: ease .3s;
        z-index: 5;
        stroke: black;
    }
}

